<template name="admin">
	<br>
	<div class="container">
		<div class="grid">
			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						Добавить новую картинку
					</div>
					<div class="panel-body">
						<button class='btn btn-default' id="addImage">Добавить картинку</button>
						<input id="fileInput" style="visibility:hidden; width: 0;" type="file">
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<table class="table">
					<tbody>
						{{#each images}}
							<tr>
								<td width="430px">
									<img src="{{url}}" width="400px">
								</td>
								<td>
									<button class="btn btn-danger delImage">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>