<template name="start">
	<div id="intro" data-0="opacity:1;transform:rotate(0deg);" data-200="opacity:0;transform:rotate(-360deg);" class="text1" style="text-align:center;">
		<img class="center-image" src="/yamazaki.jpg">
		<div class="well" style="opacity:0.8;">
			<h1>Дегустация японского виски + покер</h1>
			<h2>Вечеринка 29 мая 2015</h2>
			<h3>
				Вы и не планировали это пробовать, однако все равно Вам придется это сделать!
			</h3>
			<h3>
				Но Вы можете скрасить это событие, заказав открытку
			</h3>
		</div>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0  1068 726" preserveAspectRatio="xMidYMid meet" zoomAndPan="disable">
		<path style="fill: none; stroke: rgb(51, 51, 51); stroke-width: 7px; stroke-linecap: round; stroke-linejoin: miter; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: 6000px; stroke-dashoffset: 5004.98753117207px;" data-350="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;" d="m39.5,47c1,0 1.38688,-0.91761 4,-2c1.84776,-0.76537 3.41886,-2.41886 5,-4c1.58114,-1.58114 2.45881,-2.69344 3,-4c0.38268,-0.92388 0,-2 0,-2c0,-2 0,-2 0,-4c0,-1 0,-3 0,-4c0,-2 0,-3 0,-4c0,0 -2,0 -3,0c0,0 -1.90633,0.1034 -3,1c-2.78833,2.28588 -3.88152,4.19028 -7,6c-1.934,1.12234 -4.41886,3.41886 -6,5c-1.58114,1.58114 -2.31074,3.08025 -3,6c-0.51374,2.17625 -0.42043,5.08582 -1,7c-1.04483,3.45084 -2.49346,6.87856 -3,10c-0.48055,2.96126 0.57719,6.44804 -1,9c-1.17557,1.90211 -1.54049,3.0535 -2,5c-0.51374,2.17625 -1.41886,3.41886 -3,5c-1.58114,1.58114 -2,3 -3,4c-2,2 -1.61732,3.07612 -2,4c-0.5412,1.30656 -2.29289,1.29289 -3,2c-0.70711,0.70711 -2.14935,0.52573 -3,0c-1.90211,-1.17557 -1.49346,-2.87856 -2,-6c-0.16018,-0.98709 0,-3 0,-3c0,-1 1.08025,-0.31074 4,-1c2.17625,-0.51374 8.05165,-1.35927 12,-2c6.24289,-1.01308 13.01509,-1.57467 19,-2c7.05328,-0.50126 15.05245,-2.14471 22,-3c8.18443,-1.00755 14.21512,-2.36079 21,-5c4.16792,-1.62125 5.74674,-4.37135 10,-7c1.90211,-1.17557 4.91761,-2.38688 6,-5c0.76537,-1.84776 1.31074,-3.08025 2,-6c0.51374,-2.17625 3,-3 3,-5c0,-1 0,-2 -2,-2c-1,0 -5,0 -7,0c-5,0 -8.66995,0.09478 -13,4c-3.71298,3.34869 -7.64886,9.19577 -10,13c-2.62865,4.25325 -5.54136,9.70267 -7,13c-1.66801,3.77064 -2,8 -2,11c0,3 0,6 0,9c0,3 -0.3525,3.97251 4,5c2.91975,0.68926 8,0 12,0c6,0 9.31021,-1.71899 12,-5c2.28588,-2.78832 4.4588,-3.69344 5,-5c0.38268,-0.92388 0,0 0,1c0,1 0.1034,3.90633 1,5c2.28588,2.78832 3.57111,5.67947 8,8c2.80108,1.46764 9,4 13,4c3,0 6.15224,0.76537 8,0c3.91969,-1.62359 3.49345,-5.87856 4,-9c0.64073,-3.94835 1.14806,-7.22836 0,-10c-1.0824,-2.61313 -5.87856,-5.49346 -9,-6c-4.93544,-0.80091 -8,-1 -11,-1c-1,0 -3.15224,-0.76537 -5,0c-1.30656,0.5412 -3.1731,0.85273 -4,2c-1.30745,1.814 -2,4 -2,6c0,2 -0.86935,5.12872 0,8c1.04483,3.45084 3.36773,6.56393 7,10c2.61926,2.47779 3.87856,4.49346 7,5c1.97417,0.32037 3,0 4,0c2,0 3.1629,-4.60949 7,-9c4.21362,-4.82134 5.41156,-8.40401 9,-13c1.74065,-2.22939 1.69344,-5.5412 3,-5c1.84776,0.76537 0,3 0,6c0,5 -0.29561,9.0146 0,12c0.50244,5.0742 3.9183,8.11214 8,11c2.94336,2.08247 7,3 12,3c5,0 7.95328,-0.07194 11,-2c4.92722,-3.1181 6,-5 8,-7l1,0l0,-1"></path>
  		<path style="fill: none; stroke: rgb(51, 51, 51); stroke-width: 7px; stroke-linecap: round; stroke-linejoin: miter; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: 6000px; stroke-dashoffset: 5004.98753117207px;" data-380="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"  d="m270.5,77c0,0 -5,0 -7,0c-3,0 -6,2 -7,3c-3,3 -4,6 -4,9c0,3 0.96384,5.11587 4,6c3.95868,1.15277 9.28912,1.95131 14,0c6.6622,-2.75957 11.22055,-6.83128 15,-12c2.12817,-2.91047 5,-6 4,-7c-1,-1 -2.84842,4.0451 -5,11c-2.80377,9.06305 -9.13702,17.93342 -12,24c-4.20337,8.90684 -9.42825,18.42336 -14,24c-2.68979,3.28101 -5.08031,7.37642 -9,9c-2.77164,1.14806 -4,2 -6,2c-5,0 -6.91231,-3.03067 -8,-6c-1.85226,-5.05659 -2,-10 -2,-15c0,-4 5.57591,-10.85433 15,-15c8.68375,-3.82 19.11172,-6.46119 30,-9c7.08994,-1.65315 13.75711,-3.98692 20,-5c5.92252,-0.96109 10.96384,-2.11587 14,-3c3.95868,-1.15277 6,-2 6,-3c0,-1 1,-3 1,-6c0,-1 -0.82376,-3.48626 -3,-4c-0.97324,-0.22975 -3.22836,-1.14805 -6,0c-1.30655,0.5412 -3,4 -4,7c-1,3 -1,6 -1,12c0,3 0.76108,6.41589 4,8c2.84073,1.38935 7.13376,3.14877 12,2c6.52875,-1.54123 10.44043,-6.58976 16,-13c3.276,-3.77727 6.48627,-8.82375 7,-11c0.22977,-0.97325 2.12234,-0.934 1,1c-3.61945,6.23695 -10,14 -18,26c-6,9 -11.85568,19.0979 -18,28c-4.88651,7.0797 -6.59399,11.50432 -9,16c-1.33463,2.49376 -3,4 -2,4c1,0 2.73907,-7.23888 11,-16c6.79135,-7.20259 15,-16 22,-25c7,-9 11.72961,-14.22885 16,-19c1.88635,-2.10754 5,-4 8,-4c2,0 3,0 3,0c0,1 2,4 2,7c0,3 0,4 0,6c0,0 -1.29291,0.70711 -2,0c-0.70709,-0.70711 -0.70709,-2.29289 0,-3c0.70709,-0.70711 1,-2 -1,-2c-1,0 -4,0 -6,0c-1,0 -2,0 -2,1c0,1 0,2 0,3c0,2 -0.22977,5.02675 0,6c0.51373,2.17625 2.79095,5.35622 6,7c7.6044,3.89524 14,4 21,4c10,0 15.01791,-0.96879 22,-5c12.03113,-6.94636 15.42215,-13.19075 17,-17c2.23141,-5.3871 5,-9 5,-11c0,-2 0,-2 -3,-2c-3,0 -8.22272,-0.27601 -12,3c-4.2735,3.70638 -7.42044,8.08582 -8,10c-1.04483,3.45084 -2,4 -2,6c0,1 3.10699,1.91901 7,1c10.88126,-2.56872 19.0668,-8.92438 27,-16c11.09442,-9.89513 17.88293,-19.07437 23,-27c5.86703,-9.08723 9.95517,-16.54916 11,-20c1.44891,-4.78546 0.70709,-8.29289 0,-9c-0.70709,-0.70711 -4.19073,-0.57784 -8,1c-5.38708,2.23141 -12.97507,10.2199 -20,20c-4.70343,6.54811 -10.01297,15.69026 -12,24c-2.10596,8.8071 -1,17 -1,23c0,5 2.25659,11.41886 7,13c3.79474,1.26491 11.10828,1.13464 17,0c5.28799,-1.01837 7.67947,-6.57111 10,-11c1.46762,-2.80108 0.5412,-4.30656 0,-3c-0.38269,0.92388 0.07611,2.38268 1,2c1.30655,-0.5412 1,-1 1,-3c0,-1 0.45084,-2.95517 -3,-4c-3.82837,-1.15913 -9.06601,-1.87766 -11,-3c-3.11847,-1.80972 -6,-2 -7,-2c-2,0 0,0 3,0c5,0 14.0769,-0.73145 18,-2c5.12396,-1.65685 10.15225,-4.23463 12,-5c1.30655,-0.5412 2.09854,-0.99513 2,0c-0.50244,5.0742 -4.1731,9.85273 -5,11c-2.6149,3.62798 -2.92389,6.61732 -2,7c1.30655,0.5412 3.81146,-5.13464 6,-8c1.91949,-2.51308 2.69345,-6.5412 4,-6c1.84775,0.76537 0,4 0,5c0,3 0.02249,4.36655 3,4c4.09222,-0.50378 7.41589,-4.76108 9,-8c1.38934,-2.84072 1.38687,-7.08239 4,-6c1.84775,0.76537 -1.26691,3.04495 -2,9c-0.50378,4.09222 -2.48627,6.82375 -3,9c-0.4595,1.9465 -0.52573,1.85065 0,1c1.17557,-1.90211 3,-3 2,-3c-1,0 -0.85065,2.47427 0,3c1.9021,1.17557 3.9176,-2.38687 5,-5c1.14804,-2.77164 2,-5 0,-5c-2,0 0,4 0,9c0,3 1.797,7.2565 3,8c2.69,1.66251 4,2 6,2c4,0 5,0 5,-2c0,-1 2.29291,-1.29289 3,-2c0.70709,-0.70711 -0.9725,-4.6475 -2,-9c-0.4595,-1.9465 -2,-4 -3,-4c-1,0 -2,0 -3,0c-1,0 -2,0 -3,0c-1,0 -3,0 -6,0l-3,0l-1,0l-2,0"></path>
		<path style="fill: none; stroke: rgb(51, 51, 51); stroke-width: 7px; stroke-linecap: round; stroke-linejoin: miter; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: 6000px; stroke-dashoffset: 5004.98753117207px;" data-380="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"  d="m79.5,176c0,2 0,4 0,6c0,3 0.70711,6.29289 0,7c-1.41422,1.41422 -6.0116,-0.62718 -12,-1c-8.04668,-0.50096 -15.17163,-2.15913 -19,-1c-3.45084,1.04483 -6.98162,4.71201 -8,10c-0.56732,2.94586 0.11214,6.9183 3,11c2.08247,2.94336 4.87856,6.49345 8,7c1.97417,0.32036 4.16051,1.37852 10,0c2.17625,-0.51375 4.37135,-5.74675 7,-10c2.35114,-3.80423 3.49346,-8.87856 4,-12c0.48055,-2.96126 2,-6 2,-8c0,0 0,-2 0,1c0,6 -0.70967,15.04799 -3,28c-2.66368,15.06335 -7.03034,30.76251 -10,46c-1.54225,7.91336 -1.59399,15.50433 -4,20c-2.00192,3.74063 -6.05165,6.64072 -10,6c-3.12144,-0.50653 -8.62043,-5.43799 -14,-12c-4.57176,-5.57666 -6.11044,-13.9552 -6,-25c0.09054,-9.05493 12.65341,-22.46997 22,-29c15.46702,-10.80608 31.95387,-20.09409 38,-23c12.9047,-6.20232 16.88137,-9.2935 24,-12c2.95585,-1.12381 6.58578,-0.58578 8,-2c1.41422,-1.41422 1.42533,-3.01509 1,-9c-0.50126,-7.05328 -4,-11 -7,-14c-2,-2 -5.59163,-4.35928 -10,-2c-6.35785,3.40262 -8.5781,11.76471 -12,21c-3.62739,9.7899 -4.28099,22.06326 -3,35c1.00489,10.14841 6.73657,16.57718 15,20c11.68626,4.84061 31.36519,2.70656 48,-12c14.31334,-12.65419 19.20764,-21.87392 24,-30c5.23007,-8.86827 5.95517,-11.54915 7,-15c0.28978,-0.95709 -1.37134,-1.25325 -4,3c-3.52672,5.70634 -4,12 -4,16c0,4 0,7 0,8c0,0 2.49345,0.12144 3,-3c0.64073,-3.94835 -0.15927,-9.61064 -3,-11c-3.23892,-1.58411 -3.82375,-2.48625 -6,-3c-0.97325,-0.22975 -3,3 -3,10c0,3 0,8 0,16c0,5 1,18 1,32c0,18 -1.66232,35.06613 -3,41c-1.60098,7.1019 -2.38063,14.44351 -8,16c-3.85486,1.06775 -9.72961,-5.22885 -14,-10c-3.77267,-4.21509 -10.82683,-10.7612 -7,-20c9.74153,-23.51813 37.56023,-34.45518 51,-47c30.05225,-28.05107 38,-34 50,-46c5,-5 12.12709,-8.9259 15,-14c0.9854,-1.7404 1.35684,-1.96791 1,0c-1.52446,8.40691 -3.19908,13.06456 -4,18c-0.50655,3.12144 -1,5 -1,6c0,2 0.26196,9.02281 -1,22c-1.65675,17.03688 -2.35002,30.3205 -8,55c-2.32986,10.17703 -6.5087,18.64264 -12,27c-4.42723,6.73792 -9.63585,12.0585 -17,14c-8.7562,2.30847 -20.2345,2.40421 -25,-13c-10.97102,-35.46317 -3.96419,-65.45845 14,-90c8.35318,-11.41159 26.16252,-26.69487 32,-30c11.34602,-6.42401 15.98085,-9.12257 22,-10c7.97794,-1.16295 12,-1 15,-1c3,0 5.87857,0.49345 9,1c0.98709,0.16019 2,1 2,2c0,1 -0.54135,1.70267 -2,5c-1.66803,3.77065 -1.4816,8.42812 -5,18c-3.55206,9.66348 -7.6741,16.64709 -9,20c-2.23688,5.65654 -4.41422,9.58578 -3,11c2.12131,2.12132 14,-7 20,-13c5,-5 10.28027,-10.67287 15,-15c2.65765,-2.43658 3,-3 3,-2c0,3 0,3 0,5c0,1 6.77063,0.74065 9,-1c4.59598,-3.58844 7.9176,-3.38687 9,-6c0.38269,-0.92387 1,-1 1,1c0,1 -1.29276,2.47395 0,4c3.93173,4.64127 22.34753,4.01573 34,-3c6.05783,-3.64731 9.5582,-8.51929 13,-11c1.814,-1.30745 2,0 2,4c0,3 0,6 0,8c0,0 -1,1 -4,7c-3,6 -1.92807,7.61104 -4,10c-1.46509,1.68924 -1.9465,2.4595 0,2c6.52875,-1.54123 18.48944,-10.12215 28,-16c4.25327,-2.62866 11.31,-6.33749 14,-8c1.203,-0.7435 -2.30447,-2.53073 -6,-1c-5.22626,2.16478 -8.41885,4.25658 -10,9c-1.26492,3.79474 -0.46512,11.27763 9,14c13.59113,3.90909 31.37616,4.02222 42,1c4.30148,-1.22366 11.99246,-8.81557 13,-17c0.36655,-2.97752 -1.38687,-4.9176 -4,-6c-3.69553,-1.53073 -7.35379,1.35718 -12,9c-7.06546,11.62236 -9.99246,14.81557 -11,23c-0.73309,5.95505 0.41373,18.37631 20,23c15.57199,3.67604 50,0 70,0l9,0"></path>
	</svg>
	<h1>sdasdadas</h1>
	<h1>sdasdadas</h1>
	<h1>sdasdadas</h1>
	<h1>sdasdadas</h1>
	<h1>sdasdadas</h1>
</template>